html, body {
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

/* Header: Logo */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 80px;
    margin-left: 100px;
}

.logo h1 {
    font-family: 'Comic Sans MS', cursive;
    font-size: 10px;
    font-style: normal;
    margin-left: 40px;
    margin-top: 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    letter-spacing: 3px;
    transition: transform 0.3s ease-in-out;
}

.logo h1:hover {
    transform: scale(1.1);
}

.logo h1 span.green {
    color: #3FA752;
    font-size: 12px;
}

.logo h1 span.black {
    color: #000000;
    font-size: 10px;
}

.header a {
    text-decoration: none;
    color: #000000;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .logo img {
        width: 100px;
        margin-left: 120px;
    }

    .logo h1 {
        font-size: 15px;
        margin-left: 50px;
    }

    .logo h1 span.green {
        font-size: 15px;
    }
    
    .logo h1 span.black {
        font-size: 15px;
    }
}

@media screen and (min-width: 1025px) {
    .logo img {
        width: 130px;
        margin-left: 160px;
    }

    .logo h1 {
        font-size: 20px;
        margin-left: 80px;
    }

    .logo h1 span.green {
        font-size: 20px;
    }
    
    .logo h1 span.black {
        font-size: 20px;
    }
}


/* Header: Search bar */
.search-container {
    display: flex;
    align-items: center;
}

.search-icon {
    cursor: pointer;
    margin-left: 40px;
}

.search-icon img {
    width: 15px;
    height: auto;
}

.search-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    margin-right: 50px;
}

.search-field {
    width: 0;
    padding: 2px;
    border: none;
    outline: none;
    transition: width 0.3s ease;
    overflow: hidden;
    margin-left: -400px;
}

.search-field:focus {
    width: 60px; 
    margin-left: 0;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .search-icon img {
        width: 20px;
        margin-left: 40px;
    }

    .search-text {
        width: 130px;
        margin-right: 60px;
        margin-left: 10px;
        font-size: 15px;
    }
}

@media screen and (min-width: 1025px) {
    .search-icon img {
        width: 25px;
        margin-left: 100px;
        margin-right: -15px;
    }

    .search-text {
        width: 130px;
        margin-left: 20px;
        font-size: 18px;
    }
}


/* Header: Hamburger menu */
.header .hamburger-menu {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    display: flex;
    margin-left: 20px;
}

.header .hamburger-menu details {
    margin-right: 40px;
    font-size: 12px;
}

.header .hamburger-menu ul {
    list-style: none; 
    padding: 0;
}

.header .hamburger-menu li {
    margin: 10px 0;
}

summary::-webkit-details-marker {
    display: none;
}

.hamburger-menu summary {
    list-style-type: none;
    text-decoration: none !important;
    color: #000000;
}

.hamburger-menu ul li a {
    color: #000000;
    text-decoration: none !important;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .header .hamburger-menu {
        font-size: 15px;
    }

    .header .hamburger-menu details {
        margin-right: 40px;
        font-size: 15px;
    }
}

@media screen and (min-width: 1025px) {
    .header .hamburger-menu {
        font-size: 18px;
        margin-right: 50px;
    }

    .header .hamburger-menu details {
        margin-right: 40px;
        font-size: 18px;
    }
}


/* Main image*/
.main-image-lab img {
    width: 100%;
    height: 180px;
}

@media screen and (max-width: 768px) {
    .main-image-lab img {
        height: 180px;
        margin-top: 10px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .main-image-lab img {
        height: 280px;
        margin-top: 15px;
    }
}

@media screen and (min-width: 1025px) {
    .main-image-lab img {
        height: 380px;
        margin-top: 20px;
    }
}



/* Main content: Contact form */
.contact-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form {
    background-color: #fff;
    padding: 50px; 
    width: 300px;
    height: 300px;
    border-radius: 5px; 
    text-align: center; 
    margin: 0 auto;
    margin-top: 50px;
    border: 5px solid #C7B72C;
}

.main-content h2 {
    font-family: comic sans MS;
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #C7B72C;
    border-radius: 5px;
}

.contact-form input[placeholder="Full name:"] {
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contact-form input[placeholder="Message:"] {
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contact-form input {
    height: 20px;
}

.contact-form textarea {
    height: 100px;
}

.contact-form button {
    background-color: #C7B72C;
    background-color: hsl(50, 60%, 90%); 
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    text-decoration: underline;
}


@media (min-width: 769px) and (max-width: 1024px) {
    .main-content h2 {
        font-size: 30px;
        margin-top: 100px;
    }

    .contact-form {
        width: 400px;
        height: 400px;
        margin-top: 60px;
    }

    .contact-form input {
        width: 400px;
        height: 25px;
    }

    .contact-form textarea {
        width: 400px;
        height: 150px;
    }

    .contact-form button {
        width: 180px;
        height: 35px;
        font-size: 12px;
    }
}

@media (min-width: 1025px) {
    .main-content {
        flex-direction: column; 
        align-items: center;
    }

    .contact-form,
    .contact-information {
        width: 100%; 
        margin: 20px 0; 
    }

    .main-content h2 {
        font-size: 40px;
        margin-top: 130px;
    }

    .contact-form {
        width: 30%;
        height: 450px;
        margin-top: 100px;
        margin-left: 6%;
    }

    .contact-form input {
        width: 100%;
        height: 35px;
    }

    .contact-form textarea {
        width: 100%;
        height: 200px;
    }

    .contact-form button {
        width: 180px;
        height: 40px;
        font-size: 13px;
        margin-top: 5px;
    }
}


/* Main content: Contact information */
.contact-information {
    background-color: #C7B72C;
    background-color: hsl(50, 60%, 90%); 
    padding: 50px;
    width: 380px;
    height: 400px;
    margin: 20px auto; 
    color: #000000;
    border-radius: 5px;
    margin-top: 100px;
    margin-bottom: -200px;
}

.contact-information img {
    width: 15px;
    margin-right: -200px;
}

.contact-information img[src="img/call.png"] {
    display: block;
    margin: 0 9px;
    margin-right: -130px;
}

.contact-information img[src="img/email.png"] {
    display: block;
    margin: 0 9px;
    margin-right: -130px;
}

.horizontally-aligned p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

.contact-information p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 150px;
}

.horizontally-aligned {
    display: flex;
    align-items: center;
}

.opening-hours h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin-left: 15px;
    margin-top: 50px;
}

.opening-hours p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    margin-left: 15px;
}

.adress p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    margin-left: 15px;
    margin-top: 80px;
}

.adress h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    margin-left: 15px;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .contact-information {
        width: 500px;
        height: 500px;
    }

    .contact-information img {
        width: 18px;
    }
    
    .horizontally-aligned p {
        font-size: 15px;
    }
    
    .opening-hours h3 {
        font-size: 18px;
        margin-top: 80px;
    }
    
    .opening-hours p {
        font-size: 15px;
    }
    
    .adress p {
        font-size: 15px;
        margin-top: 100px;
    }
    
    .adress h3 {
        font-size: 15px;
    }
}

@media (min-width: 1025px) {
    .contact-information {
        width: 35%;
        height: 600px;
        margin-left: 50%;
        margin-top: -580px;
    }
    
    .contact-information img {
        width: 21px;
    }
    
    .horizontally-aligned p {
        font-size: 18px;
    }
    
    .opening-hours h3 {
        font-size: 22px;
        margin-top: 100px;
    }
    
    .opening-hours p {
        font-size: 18px;
    }
    
    .adress p {
        font-size: 18px;
        margin-top: 100px;
    }
    
    .adress h3 {
        font-size: 18px;
    }
}


/* Footer */
.site-footer {
    background-color: #A4E8B0;
    color: #000000;
    padding: 10px;
    margin-bottom: auto;
    margin-top: 400px;
}

.footer.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin-left: -50px;
    margin-top: 20px;
}

.footer-content h1 {
    font-family: 'Comic Sans MS', cursive;
    margin-left: -50px;
    margin-top: 15px;
    font-size: 12px;
}

.site-footer h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin-left: 50px;
    margin-top: 20px;
    letter-spacing: 0.5px;
}

.site-footer h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    margin-left: 50px;
    margin-top: 30px;
    letter-spacing: 0.5px;
}

.site-footer p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    margin-left: 50px;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

.site-footer .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.site-footer .footer-content > div {
    flex: 1;
    margin: 10px;
}

.site-footer .logo,
.site-footer .Opening-hours {
    text-align: center; 
}

.site-footer .copyright {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    margin-left: 15px;
    text-align: center;
    margin-top: 30px;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .footer-content img {
        width: 80px;
        height: auto;
    }

    .footer-content h1 {
        font-size: 15px;
    }

    .logo h1 span.green {
        font-size: 15px;
    }
    
    .logo h1 span.black {
        font-size: 15px;
    }

    .site-footer h2 {
        font-size: 18px;
    }

    .site-footer h3 {
        font-size: 13px;
    }

    .site-footer p {
        font-size: 12px;
    }

    .site-footer .copyright {
        font-size: 12px;
    }
}

@media screen and (min-width: 1025px) {
    .footer-content img {
        width: 100px;
        height: auto;
    }

    .footer-content h1 {
        font-size: 20px;
    }

    .logo h1 span.green {
        font-size: 18px;
    }
    
    .logo h1 span.black {
        font-size: 18px;
    }

    .site-footer h2 {
        font-size: 21px;
        margin-left: 150px;
    }

    .site-footer h3 {
        font-size: 16px;
        margin-left: 150px;
    }

    .site-footer p {
        font-size: 15px;
        margin-left: 150px;
    }

    .site-footer .copyright {
        font-size: 15px;
    }
}