html, body {
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

/* Header: Logo */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 80px;
    margin-left: 100px;
}

.logo h1 {
    font-family: 'Comic Sans MS', cursive;
    font-size: 10px;
    font-style: normal;
    margin-left: 40px;
    margin-top: 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    letter-spacing: 3px;
    transition: transform 0.3s ease-in-out;
}

.logo h1:hover {
    transform: scale(1.1);
}

.logo h1 span.green {
    color: #3FA752;
    font-size: 12px;
}

.logo h1 span.black {
    color: #000000;
    font-size: 10px;
}

.header a {
    text-decoration: none;
    color: #000000;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .logo img {
        width: 100px;
        margin-left: 120px;
    }

    .logo h1 {
        font-size: 15px;
        margin-left: 50px;
    }

    .logo h1 span.green {
        font-size: 15px;
    }
    
    .logo h1 span.black {
        font-size: 15px;
    }
}

@media screen and (min-width: 1025px) {
    .logo img {
        width: 130px;
        margin-left: 160px;
    }

    .logo h1 {
        font-size: 20px;
        margin-left: 80px;
    }

    .logo h1 span.green {
        font-size: 20px;
    }
    
    .logo h1 span.black {
        font-size: 20px;
    }
}


/* Header: Search bar */
.search-container {
    display: flex;
    align-items: center;
}

.search-icon {
    cursor: pointer;
    margin-left: 40px;
}

.search-icon img {
    width: 15px;
    height: auto;
}

.search-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    margin-right: 50px;
}

.search-field {
    width: 0;
    padding: 2px;
    border: none;
    outline: none;
    transition: width 0.3s ease;
    overflow: hidden;
    margin-left: -400px;
}

.search-field:focus {
    width: 60px; 
    margin-left: 0;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .search-icon img {
        width: 20px;
        margin-left: 40px;
    }

    .search-text {
        width: 130px;
        margin-right: 60px;
        margin-left: 10px;
        font-size: 15px;
    }
}

@media screen and (min-width: 1025px) {
    .search-icon img {
        width: 25px;
        margin-left: 100px;
        margin-right: -15px;
    }

    .search-text {
        width: 130px;
        margin-left: 20px;
        font-size: 18px;
    }
}

/* Header: Hamburger menu */
.header .hamburger-menu {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    display: flex;
    margin-left: 20px;
}

.header .hamburger-menu details {
    margin-right: 40px;
    font-size: 12px;
}

.header .hamburger-menu ul {
    list-style: none; 
    padding: 0;
}

.header .hamburger-menu li {
    margin: 10px 0;
}

summary::-webkit-details-marker {
    display: none;
}

.hamburger-menu summary {
    list-style-type: none;
    text-decoration: none !important;
    color: #000000;
}

.hamburger-menu ul li a {
    color: #000000;
    text-decoration: none !important;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .header .hamburger-menu {
        font-size: 15px;
    }

    .header .hamburger-menu details {
        margin-right: 40px;
        font-size: 15px;
    }
}

@media screen and (min-width: 1025px) {
    .header .hamburger-menu {
        font-size: 18px;
        margin-right: 50px;
    }

    .header .hamburger-menu details {
        margin-right: 40px;
        font-size: 18px;
    }
}


/* Main image */
.main-image img {
    width: 100%;
    height: 200px;
    margin-top: 50px;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .main-image img {
        height: 300px;
    }
}
@media screen and (min-width: 1025px) {
    .main-image img {
        height: 400px;
    }
}



/* Main content*/
.main-content {
    width: 80%;
    margin-top: 100px;
    margin-left: 50px;
    line-height: 22px;
    margin-bottom: -200px;
}

.main-content span.green {
    color: #3FA752;
}

.images-explore {
    display: flex;
}

.images-explore img {
    width: 50%;
    height: 40%;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 100px;
}

.main-content h2 {
    color: #3FA752;
    margin-bottom: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
}

.main-content h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}

.main-content p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

.images-kids-teachers-researchers {
    display: flex;
}

.images-kids-teachers-researchers img {
    border-radius: 5px;
    margin-right: 70px;
    margin-bottom: 150px;
    width: 35%;
    height: 35%;
}

.opening-hours {
    border: 5px solid #3FA752;
    border-radius: 5px;
    margin-top: 50px;
    text-align: left;
    margin-bottom: 50px;
    height: 300px;
}

.opening-hours img {
    height: 250px;
    width: 200px;
    margin-top: -35px;
    margin-left: 5%;
    display: flex;
}

.opening-hours-horizontal {
    display: flex;
}

.opening-hours h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin-left: 260px;
}

.opening-hours p {
    width: 200px;
    margin-left: 50px;
    line-height: 25px;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .main-content {
        width: 70%;
        margin-top: 150px;
        margin-left: 80px;
        line-height: 26px;
    }

    .images-explore img {
        margin-bottom: 150px;
    }
    
    .main-content h2 {
        margin-bottom: 40px;
        font-size: 26px;
    }
    
    .main-content h3 {
        font-size: 16px;
    }
    
    .main-content p {
        font-size: 16px;
    }

    .images-kids-teachers-researchers img {
        margin-bottom: 200px;
        margin-right: 100px;
    }

    .opening-hours {
        width: 650px;
        height: 420px;
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .opening-hours img {
        height: 350px;
        width: 250px;
    }

    .opening-hours h4 {
        margin-left: 360px;
        font-size: 20px;
    }
    
    .opening-hours p {
        font-size: 18px;
        width: 300px;
        margin-left: 80px;
        line-height: 40px;
    }
}

@media screen and (min-width: 1025px) {
    .main-content {
        width: 60%;
        margin-top: 200px;
        margin-left: 100px;
        line-height: 35px;
    }

    .images-explore img {
        margin-bottom: 180px;
    }
    
    .main-content h2 {
        margin-bottom: 40px;
        font-size: 30px;
    }
    
    .main-content h3 {
        font-size: 20px;
    }
    
    .main-content p {
        font-size: 20px;
    }

    .images-kids-teachers-researchers img {
        margin-bottom: 200px;
        margin-right: 150px;
    }

    .opening-hours {
        width: 800px;
        height: 500px;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .opening-hours img {
        height: 400px;
        width: 320px;
    }

    .opening-hours h4 {
        margin-left: 450px;
        font-size: 24px;
    }
    
    .opening-hours p {
        font-size: 20px;
        width: 300px;
        margin-left: 80px;
        line-height: 50px;
    }
}


/* Footer */
.site-footer {
    background-color: #A4E8B0;
    color: #000000;
    padding: 10px;
    margin-bottom: auto;
    margin-top: 400px;
}

.footer.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin-left: -50px;
    margin-top: 20px;
}

.footer-content h1 {
    font-family: 'Comic Sans MS', cursive;
    margin-left: -50px;
    margin-top: 15px;
    font-size: 12px;
}

.site-footer h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin-left: 50px;
    margin-top: 20px;
    letter-spacing: 0.5px;
}

.site-footer h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    margin-left: 50px;
    margin-top: 30px;
    letter-spacing: 0.5px;
}

.site-footer p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    margin-left: 50px;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

.site-footer .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.site-footer .footer-content > div {
    flex: 1;
    margin: 10px;
}

.site-footer .logo,
.site-footer .Opening-hours {
    text-align: center; 
}

.site-footer .copyright {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    margin-left: 15px;
    text-align: center;
    margin-top: 30px;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .footer-content img {
        width: 80px;
        height: auto;
    }

    .footer-content h1 {
        font-size: 15px;
    }

    .logo h1 span.green {
        font-size: 15px;
    }
    
    .logo h1 span.black {
        font-size: 15px;
    }

    .site-footer h2 {
        font-size: 18px;
    }

    .site-footer h3 {
        font-size: 13px;
    }

    .site-footer p {
        font-size: 12px;
    }

    .site-footer .copyright {
        font-size: 12px;
    }
}

@media screen and (min-width: 1025px) {
    .footer-content img {
        width: 100px;
        height: auto;
    }

    .footer-content h1 {
        font-size: 18px;
    }

    .logo h1 span.green {
        font-size: 18px;
    }
    
    .logo h1 span.black {
        font-size: 18px;
    }

    .site-footer h2 {
        font-size: 21px;
        margin-left: 150px;
    }

    .site-footer h3 {
        font-size: 16px;
        margin-left: 150px;
    }

    .site-footer p {
        font-size: 15px;
        margin-left: 150px;
    }

    .site-footer .copyright {
        font-size: 15px;
    }
}